body {
  height: 100vh;
  background-color: rgb(114, 80, 105);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
li {
  list-style-type: none;
  line-height: 2;
}
#container {
  color: rgb(55, 44, 44);
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  height: 600px;
  margin: 20px auto;
  background-color: white;
  background-image: url("../images/pinkSky.jpg");
  background: center/cover url("../images/pinkSky.jpg") no-repeat;
  border: 1px solid rgb(158, 126, 126);
  padding: 20px;
}
.descriptionList {
  padding-left: 0;
}
.blurBackground {
  position: fixed;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: blur(20px);
  z-index: -1;
}

.degreeCurrentWeatherStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  text-align: center;
}
.degreeCurrentNumber {
  font-weight: 600;
  font-size: 250%;
}
